---
---

@use 'abstracts/variables' with (
  $sidebar-width: 250px
);

@use 'main';

/* append your custom style below */

.nav-divider {
  // display: block;
  width: 100%;
  border: none;
  border-top: 1px solid var(--main-border-color);
  margin: 1rem 0;
  // opacity: 0.5;
  // margin: 0.5rem 1rem;
  // height: 0;
  // list-style: none;
  pointer-events: none;
}
